form[name="currentOrderForm"] {
  table {
    table-layout: fixed;
    thead {
      th {
        text-align: center;
      }
    }
    tbody {
      td {
        text-align: center;
      }
    }
  }
}
